.react-daterange-picker.wmm-date-range-picker {
  display: flex;
  position: static;
}

.wmm-date-range-picker .react-daterange-picker,
.wmm-date-range-picker .react-daterange-picker *,
.wmm-date-range-picker .react-daterange-picker *:before,
.wmm-date-range-picker .react-daterange-picker *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.wmm-date-range-picker .react-daterange-picker--disabled {
  background-color: #f0f0f0;
  color: #6d6d6d;
}

.wmm-date-range-picker .react-daterange-picker__wrapper {
  display: flex;
  align-items: center;
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
}

.wmm-date-range-picker .react-daterange-picker__inputGroup {
  /* min-width: calc((4px * 3) + 0.54em * 8 + 0.217em * 2); */
  height: 100%;
  flex-grow: 1;
  padding: 0 2px;
}

.wmm-date-range-picker .react-daterange-picker__inputGroup__divider {
  padding: 1px 0;
  white-space: pre;
}

.wmm-date-range-picker .react-daterange-picker__inputGroup__divider,
.wmm-date-range-picker .react-daterange-picker__inputGroup__leadingZero {
  display: inline-block;
}

.wmm-date-range-picker .react-daterange-picker__inputGroup__input {
  /* min-width: 0.54em; */
  height: 100%;
  position: relative;
  padding: 0 1px;
  border: 0;
  background: none;
  color: currentColor;
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
}

.wmm-date-range-picker .react-daterange-picker__inputGroup__input::-webkit-outer-spin-button,
.wmm-date-range-picker .react-daterange-picker__inputGroup__input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

.wmm-date-range-picker .react-daterange-picker__inputGroup__input:invalid {
  background: rgba(255, 0, 0, 0.1);
}

.wmm-date-range-picker .react-daterange-picker__inputGroup__input--hasLeadingZero {
}

.wmm-date-range-picker .react-daterange-picker__button {
  border: 0;
  background: transparent;
}

.wmm-date-range-picker .react-daterange-picker__button:enabled {
  cursor: pointer;
}

.wmm-date-range-picker .react-daterange-picker__button:enabled:hover .react-daterange-picker__button__icon,
.wmm-date-range-picker .react-daterange-picker__button:enabled:focus .react-daterange-picker__button__icon {
  stroke: #0078d7;
}

.wmm-date-range-picker .react-daterange-picker__button:disabled .react-daterange-picker__button__icon {
  stroke: #6d6d6d;
}

.wmm-date-range-picker .react-daterange-picker__button svg {
  display: inherit;
}

.wmm-date-range-picker .react-daterange-picker__clear-button {
  order: -1;
  /* display: none; */
}

.wmm-date-range-picker .react-daterange-picker__calendar {
  position: static;
  width: 350px;
  max-width: 100vw;
  z-index: 1;
}

.wmm-date-range-picker .react-daterange-picker__calendar--closed {
  display: none;
}

.wmm-date-range-picker .react-daterange-picker__calendar .react-calendar {
}
