@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  abbr:where([title]) {
    -webkit-text-decoration: none;
    text-decoration: none;
  }

  html {
    font-family: Noto Sans, system-ui, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-smooth: never;
  }
}
